@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

@media screen and (max-width: 576px) {
    nav {
        display: flex;
        align-self: center;
    }

    .logo {
        max-width: 80% !important;
        margin: auto !important;
    }
    
    #header {
        justify-content: center !important;
    }
}

@media screen and (max-width: 960px) {
    #header {
        flex-direction: column !important;
        align-items: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .logo {
        max-width: 60% !important;
        /* align-self: center !important; */
    }   
}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 70% !important;
    }
    
    #topo {
        margin-left: 20px !important;
        margin-right: 20px !important;
    
    }
    #bg {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        max-width: 80% !important;
    }   
}
    
.conectaCidades {
    margin-top: 0;
}

#topo{
    margin-left: 75px;
    margin-right: 75px;
}

.logo {
    margin-top: 0 !important;
    max-width: 80%;
}

li {
    list-style: none;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    #text {
        margin-left: auto !important;
        margin-right: auto !important;
        align-self: baseline !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .paragrafos {
        padding-top: 0 !important;
    }
}

#text button {
    width: 25%;
}

#text p {
    font-family: 'Montserrat', sans-serif;
}

#saibaMais {
    border:none;
    border-radius: 15px;
    background-color: #13A0E2;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

/* --FORMS-- */

/* #1 */
#form-box {
    background: radial-gradient(#6DB3FB, #368CE3);
    border-radius: 58px;
    height: auto;
    padding: 5%
}

form p {
    font-family: 'Montserrat', sans-serif;
}

#form1 input {
    margin-bottom: 25px;
    border: none;
    border-radius: 14px;
    padding: 10px;
}

#send1 {
    border: none;
    border-radius: 15px;
    color: #378DE4;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 2% 5% 2% 5%;
}



/* #2 */
.form-box2 {
    border: none;
    border-radius: 25px;
    background: linear-gradient(rgba(173, 79, 246, 1)-25%, rgba(52, 123, 194, 0.5) 25%);
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    width: 85%;
}

#form2  input{
    border: none;
    border-radius: 14px;
    padding: 7px;
    width: 25%;
}

@media screen and (max-width: 768px) {
    .form-box2 {
        width: 90%;
    }

    #form2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 90%;
    }

    #form2 input {
        margin-top: 5px;
        margin-bottom: 25px;
        width: 70%;
    }
}

#send2 {
    border: none;
    border-radius: 15px;
    color: #4E4EB2;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 1% 1% 1% 1%;
    margin-top: 10px;
}

/* HISTORIAS */

#AccessButton {
    background: #13A0E2;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 1% 3% 1% 3%;
    border-radius: 17px;
}

#bg {
    background: url(/Assets/Background.png);
    background-size: cover;
    min-height: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

.conteudo {
    padding-top: 210px;
    padding-bottom: 210px;
}

@media screen and (max-width: 768px) {
    #historias {
        flex-direction: column !important;
    }

    .conteudo {
        padding-top: 25% !important;
        padding-bottom: 10% !important;
        max-width: 80% !important;
    }

    .video {
        max-width: 80% !important;
        max-height: 250px !important;
    }

    #media {
        max-width: 100% !important;
        
    }

    .transformacao {
        margin-top: 10% !important;
        max-width: 90% !important;
    }

}

.video {
    width: 80%;
    height: 450px;
    background: black;
}

img {
    margin-top: 250px;
    width: 90%;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.transformacao {
    margin-top: 10% !important;
    max-width: 70%;
}

.queroAcessar {
    background: #13A0E2;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 1% 6% 1% 6%;
    border-radius: 15px;
    border: none;
}

/* CARROSSEL SPEAKERS */

/* .cardExternalArea {
    border: 1px solid #000;
} */

@media screen and (max-width: 576px) {
    .cardExternalArea {
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
        align-items: center !important;
        padding: 0 !important;
        padding-bottom: 5% !important; 
    }

    .nomeTexto {
        display: flex;
        flex-direction: column;
        text-align: justify !important;
    }

    .cards {
        flex-direction: column !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.pic {
    margin-top: 0 !important;
}

.cardExternalArea p {
    color: white;
}

.leftArrow {
    padding-right: 0;
    padding-left: 0;
}

.rightArrow {
    padding-right: 0;
}

/* MOCK */


@media (max-width: 576px) {
    #mock {
        width: 50% !important;
        margin-top: 30px !important;
        margin-bottom: 30px;
        align-self: center !important;
    }
    
    #mockP {
        width: 75% !important;
    }
}

#mock {
    margin-top: 0 !important;
   
}

#mockP {
    color: white;
}


/* FOOTER */

hr {
    border-color : white;
    width: 100%;
}

footer p {
    color:white;
    font-size: 12px;
}


/*  ------------- PÁGINA VIDEOS --------------- */



.imagem {
    height: max-content;
}

.imagem img {
    margin-top: 10%;
}

#videoTop{
    padding-left: 75px;
    padding-right: 75px;
}

#bgVideos {
    background: url(/Assets/BackgroundVideos.png);
    background-size: cover;
    min-height: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

@media screen and (max-width: 768px) {
    #videoTop{
        padding-left: 50px;
        padding-right: 50px;
    }

    #bgVideos{
        padding-left: 30px;
        padding-right: 30px;
    }


}

/* CARROSSEL CATEGORIAS */

.buttonRow {
    height: auto;
}

.wrapper {
    width: 100% !important;
    height: auto !important;
}

.teste {
    max-width: 90% !important;
    margin: auto !important;
}

.categorias {
    border: 3px solid #13A0E2;
    cursor: pointer;
    
}

.categorias:hover {
    background-color: #13A0E2;
    color: #ffffff;
    font-weight: bold;
}

.categorias:focus {
    background-color: #13A0E2 !important;
    color: #ffffff;
    font-weight: bold;
}

.flecha {
    height: 100% !important;
}

.fa {
    font-size: 25px;
    color: #13A0E2;
    padding: 10px !important;
    border-radius: 50%;
    align-self: auto;
    cursor: pointer;
}

.fa:hover {
    background-color: #13A0E2;
    color: #ffffff;
}

.fa:active {
    background-color: #0d6d99 !important;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .categorias {
        display: none;
    }

    .flecha {
        display: none;
    }

    .wrapper {
        margin-left: 60px;
    }

    select {
        display: block !important;
    }
}

@media screen and (max-width: 576px) {
    .teste {
        display: none !important;
    }
}

/* VIDEOS */

.white {
    border: 1px solid red;
    margin-right: 1% !important;
    margin-left: 1% !important;
    margin-bottom: 2% !important;
}

iframe {
    height: 280px !important;
    border-radius: 10px;
}


.nome {
    background: #D6FFF5;
    font-size: 10px;
}

.tags {
    background: #DCB9FF;
    font-size: 10px;
}


/* SOBRE*/

@media screen and (max-width: 960px) and (min-width: 0px) {
    .textImg {
        flex-direction: column !important;
    }
    
    .texto {
        margin-right: auto !important;
        margin-left: auto !important;
        max-width: 85% !important;
        padding-bottom: 50px !important;
    }

    .texto p {
        font-size: 16px !important;
    }

    h3 {
        max-width: fit-content;
        text-align: center;
        font-size: 2.5rem !important;
    }

    .botao {
        padding-top: 5% !important;
    }

    .building {
        margin-right: 0;
        justify-content: center;
    }

    .textImg {
        align-items: center;
    }

    .imagemMock {
        max-width: 80% !important;
    }
}


.sobre {
    padding-top: 220px
}

.imagemMock {
    margin-top: 0;
}

.botao {
    padding-top: 250px;
}

.acionarConsultor {
    background: #7551CF;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 1% 2% 1% 2%;
    border-radius: 15px;
    border: none;
}

.hr {
    margin-top: 90px;
}